<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahmadrofiul.siunlimited">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NilaiActivity"
            android:label="Daftar Nilai"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ahmadrofiul.siunlimited.MainActivity" />
        </activity>
        <activity
            android:name=".KrsActivity"
            android:label="Kartu Rencana Studi"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ahmadrofiul.siunlimited.MainActivity" />
        </activity>
        <activity
            android:name=".BazengActivity"
            android:label="Siadin di Gawe android" />
        <activity
            android:name=".KhsActivity"
            android:label="Kartu Hasil Studi"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BiodataActivity"
            android:label="Biodata Mahasiswa"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TugasActivity"
            android:label="Tugas"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".KulinoActivity"
            android:label="Kuliah Online"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WaldosActivity"
            android:label="Biodata Dosen Wali"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UjianActivity"
            android:label="Jadwal Ujian"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SendActivity"
            android:label="Send Rating"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".InfoActivity"
            android:label="Info Akademik"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".InfoFragment"
            android:label="Info Kalender"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".KebijakanActivity"
            android:label="Kebijakan Privasi"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".KeuanganActivity"
            android:label="Riwayat Keuangan"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".KeuanganFragment"
            android:label="Tagihan Keuangan"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AbsensiActivity"
            android:label="Presensi Kuliah"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SaActivity"
            android:label="Semester Antara"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MatkulActivity"
            android:label="Daftar Matkul"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TemanActivity"
            android:label="Teman Sekelas"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UjiansaActivity"
            android:label="Ujian SA"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RemidiActivity"
            android:label="KRS Remidi"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".UpdateActivity"
            android:label="Update SIUnlimited"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".IPKActivity"
            android:label="Cek IPK Teman"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginnfcActivity"
            android:label="Login dengan KTM"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DownloadActivity"
            android:label="Download File"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RepositoryActivity"
            android:label="Repository"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Download2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DataBiodata"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DataKeuangan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DataKhs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DataKrs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DataSA"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DataUjian"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DataUjianSA"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DataRemidi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>